h1 {
  font-family: Dosis;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #454c55; }

.navbar {
  position: absolute;
  width: 100%;
  font-family: dosis;
  font-weight: 500;
  color: #454c55; }

/***HERO***/
h1 {
  text-align: center;
  vertical-align: middle; }
  h1:hover {
    color: #fff; }

.wraph1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.botaoheader {
  text-align: center; }

.hero {
  background: url("../img/hero.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: table; }

/***SOBRE***/
.iphone {
  width: 668px;
  height: 505px;
  mix-blend-mode: undefined; }
